@import "../../../../assets/scss/abstracts/variables";

.carousel {
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;

  .carousel__title-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    position: relative;
    margin: 20px 10px 20px 10px;

    .carousel__title {
      padding-bottom: 10px;
      writing-mode: vertical-rl;
    }

    .carousel__line {
      flex: 1;
      background-color: $color-1;
      width: 2px;
    }
  }

  .carousel__list {
    display: flex;
    flex: 1;
    padding-bottom: 20px;
    margin-bottom: -20px;
    cursor: grab;

    .carousel__item {
      position: relative;
      transition: all 0.3s;
      transform: scale(0.9);

      .carousel__item-image {
        height: 320px;
        width: 225px;
        transition: all 0.3s;
        border-radius: $radius-1;
        pointer-events: none;
      }

      .carousel__item-title {
        display: flex;
        place-items: center;
        position: absolute;
        inset: auto 30px 30px 30px;
        padding: 10px;
        min-height: 20%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        font-weight: bold;
        color: $color-light-1;
        border-left: 2px solid $color-1;
      }

      &:hover {
        transform: scale(1);

        &::before {
          height: 40%;
        }

        &::after {
          height: 40%;
        }

        .carousel__item-title {
          opacity: 1;
        }

        .carousel__item-image {
          filter: brightness(0.4);
          transform: scale(1);
        }
      }
    }
  }
}
