@import "src/assets/scss/abstracts/variables";
@import "src/assets/scss/abstracts/mixins";
@import "src/assets/scss/base/animations";

.container {
  display: flex;

  .image-container {
    position: relative;
    border: 2px solid $red;

    .image {
      position: relative;
      padding: 1rem;
      margin: 0 0 -2rem -2rem;
    }

    .is-watched {
      position: absolute;
      display: flex;
      place-content: center;
      place-items: center;
      inset: auto auto -2rem -2rem;
      width: 100px;
      height: 100px;
      background-color: $red;
      clip-path: polygon(0 0, 100% 100%, 50% 100%, 0 50%);
      font-weight: bold;
      animation: appear 0.5s ease-out;

      .is-watched-text {
        position: absolute;
        rotate: 45deg;
        margin-left: -2rem;
        margin-bottom: -3rem;
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
