@import "src/assets/scss/abstracts/variables";
@import "src/assets/scss/abstracts/mixins";

@keyframes preloading {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

.preloading-frame {
  background-color: $watermark;

  animation: preloading 2s linear infinite forwards;

  background: linear-gradient(
    to right,
    $watermark 8%,
    $primary 18%,
    $watermark 33%
  );
  background-size: 800px 100px;
}
