@import "src/assets/scss/abstracts/variables";
@import "src/assets/scss/abstracts/mixins";
@import "src/assets/scss/base/animations";

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
