@import "src/assets/scss/abstracts/variables";
@import "src/assets/scss/abstracts/mixins";

.content {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 125px;
  margin-bottom: 50px;

  @include md {
    flex-direction: row;
    place-items: flex-start;
  }

  .container {
    display: flex;

    .image-container {
      position: relative;
      border: 2px solid $color-3;

      .image {
        position: relative;
        padding: 10px;
        margin: 0 0 -20px -20px;
      }

      .is-watched {
        position: absolute;
        display: flex;
        place-content: center;
        place-items: center;
        inset: auto auto -16px -20px;
        width: 100px;
        height: 100px;
        background-color: $red;
        clip-path: polygon(0 0, 100% 100%, 50% 100%, 0 50%);
        font-weight: bold;

        .is-watched-text {
          position: absolute;
          rotate: 45deg;
          margin-left: -25px;
          margin-bottom: -25px;
        }
      }
    }
  }
}

.buttons-container {
  position: relative;
  inset: 12px 8px auto auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .rating-buttons {
    display: flex;
    flex-direction: column-reverse;
    place-content: center;
    gap: 10px;
    padding: 10px 7px;
    background-color: $color-dark-4;

    &__button {
      background-color: transparent;
      border: none;
      color: $color-dark-1;
      cursor: pointer;
      transition: all 0.3s;

      &:hover,
      &--active,
      &:hover ~ button {
        color: $color-light-1;
      }
    }
  }

  .button-watched {
    padding: 10px 7px;
    background-color: transparent;
    border: none;
    color: $color-light-1;
    background-color: $color-dark-4;
    cursor: pointer;
    color: $color-dark-1;
    transition: all 0.3s;

    &:hover,
    &.active {
      color: $color-light-1;
    }
  }
}
