@import "src/assets/scss/abstracts/variables";
@import "src/assets/scss/abstracts/mixins";

.characters {
  position: relative;

  .character {
    .character-item {
      position: relative;
      border-left: 2px solid $light-red;
      margin: 20px auto;
      transition: all 0.3s;

      &:hover {
        filter: brightness(0.8);
      }

      .character-text {
        .title-container {
          display: flex;
          place-items: center;
          transform: translate(-2px, -50%);

          .line {
            flex: 1;
            height: 2px;
            background-color: $light-red;
          }

          .character-title {
            padding-left: 10px;
            line-height: 0;
          }
        }

        .subtitle-container {
          display: flex;
          place-items: center;
          transform: translate(-2px, 50%);

          .line {
            flex: 1;
            height: 2px;
            background-color: $light-red;
          }

          .character-subtitle {
            padding-left: 10px;
            font-size: 1.2rem;
            line-height: 0;
          }
        }
      }

      .character-image {
        padding-left: 20px;
        width: 245px;
        height: 350px;
        object-fit: cover;
        margin: 15px 0;
      }
    }
  }
}
