@import "src/assets/scss/abstracts/variables";

.userpanel-page {
  display: flex;
  width: 100%;
  padding: 125px $padding-1 $padding-1 $padding-1;

  .userpanel-page-watermark {
    height: 100%;

    &__title {
      writing-mode: vertical-rl;
      font-size: 100px;
      color: $watermark-color-1;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $padding-1;

    .user-profile {
      display: flex;
      flex-direction: column;
      gap: $padding-1;

      .title-container {
        display: flex;
        position: relative;
        place-items: center;

        &__title {
          padding-right: $padding-1;
        }

        &__line {
          flex: 1;
          background-color: $light-red;
          height: 2px;
        }
      }

      .user-details {
        display: flex;
        gap: $padding-1;

        &__image {
          width: 200px;
          height: 300px;
          object-fit: cover;
          border-radius: $radius-1;
        }

        &__text {
        }
      }
    }
  }
}
