@import "src/assets/scss/abstracts/variables";

.login {
  display: flex;
  place-items: center;
  width: 100%;
  padding: 25px 15px;

  .title-container {
    height: 100%;
    .title {
      writing-mode: vertical-rl;
      font-size: 100px;
      color: $watermark-color-1;
    }
  }

  .form-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .form {
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
      border-right: 2px solid $red;
      padding: 0 30px 75px 0;

      .label {
        position: relative;

        .input {
          background-color: $secondary;
          border: none;
          height: 40px;
          padding: $padding-1;
          color: $light;
          border-radius: $radius-1;
        }

        .error {
          position: absolute;
          inset: auto 0 0 0;
          translate: 0 100%;
          font-size: 12px;
          color: $error;
          padding: 5px 10px;
        }
      }

      .submit {
        position: relative;
        height: 50px;
        overflow: hidden;
        border-radius: $radius-1;
        background-color: $red;
        border: none;
        color: $light;
        margin-top: 20px;
        transition: background-color 0.5s;
        cursor: pointer;

        &::after {
          content: "ログイン";
          white-space: nowrap;
          position: absolute;
          font-size: 66px;
          bottom: -30px;
          transform: rotate(-19deg);
          margin-left: -25px;
          color: rgba(0, 0, 0, 0.15);
          opacity: 0;
          right: 0;
          transition: all 0.5s;
        }

        &:hover {
          background-color: $light-red;
          &::after {
            opacity: 1;
          }
        }
      }
    }

    .redirect {
      position: relative;
      overflow: hidden;

      .redirect-container {
        .text {
          position: absolute;
          bottom: 15px;
          left: 30px;
          width: 100%;
          transform: translate(0, -50%);
        }
        .button {
          position: absolute;
          bottom: 15px;
          left: 0;
          width: 100%;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          transform: translate(-100%, 0);
          transition: transform 0.5s;
          background-color: $red;
          color: $light;
          padding: 10px;
          border: 0;
          border-radius: 0 10px 10px 0;
          cursor: pointer;
        }

        &:hover {
          .button {
            transform: translate(0, 0);
          }
        }
      }
    }
  }
}
