.body {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  min-height: 100vh;

  grid-template-areas:
    "notification notification"
    "header header"
    "content content"
    "footer footer";

  @include md {
    grid-template-areas:
      "header content"
      "header footer";
  }
}

.grid__header {
  grid-area: header;
}

.grid__home-page,
.grid__login-page,
.grid__register-page {
  grid-area: content;
}

.grid__footer {
  grid-area: footer;
}

.grid__notification {
  grid-area: notification;
}
