body::-webkit-scrollbar {
  width: 10px;

  &-track {
    background: transparent;
  }

  &-thumb {
    box-shadow: 0 -100vh 0 100vh $color-4;
    background-color: $color-4;
    background: linear-gradient(0deg, $red 0%, $color-4 100%);
  }
}
