body::-webkit-scrollbar {
  width: 10px;

  &-track {
    background: transparent;
  }

  &-thumb {
    box-shadow: 0 -100vh 0 100vh $red;
    background-color: $red;
    background: linear-gradient(0deg, $red 0%, $red 100%);
  }
}
