@import "src/assets/scss/abstracts/variables";
@import "src/assets/scss/abstracts/mixins";
@import "src/assets/scss/base/animations";

.anime {
  @include page-appear-animation;
  @include page-spacing;

  .article {
    .watermark {
      position: fixed;
      left: 0;
      font-size: 20rem;
      color: rgba($light, 0.05);
      z-index: -1;
      transform: rotate(15deg);
      pointer-events: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    .description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 5rem;
      padding-bottom: 5rem;
    }
  }
}
