@import "src/assets/scss/abstracts/variables";
@import "src/assets/scss/abstracts/mixins";
@import "src/assets/scss/base/animations";

.anime {
  max-width: 100vw;
  overflow-x: hidden;

  @include page-appear-animation;

  .article {
    max-width: 1170px;
    margin: 0 auto;
    padding: 125px 15px;

    .watermark {
      position: fixed;
      left: 0;
      font-size: 20rem;
      color: rgba($color-light-1, 0.05);
      z-index: -1;
      transform: rotate(15deg);
      pointer-events: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }
}
