@keyframes bubbleAnimation {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@mixin gradientAnimation {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  background: linear-gradient(90deg, $primary, $color-3, $color-3, $primary);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@mixin page-appear-animation {
  @keyframes page-appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  animation: page-appear 0.3s ease-in-out;
}
