html {
  color: $color-light-1;
  background-color: $color-dark-2;
  font-family: Roboto, Helvetica, sans-serif;
  overflow-x: hidden;
  font-size: 10px;

  body {
    font-size: 16px;
    h1 {
      margin-bottom: 25px;

      font-size: 3rem;
      letter-spacing: 3px;
    }

    h2 {
      font-size: 2.5rem;

      color: $color-light-1;
    }

    a {
      color: $color-1;
      text-decoration: none;
    }

    p {
      font-size: 1.6rem;
    }
  }
}
