@import "src/assets/scss/abstracts/variables";
@import "src/assets/scss/abstracts/mixins";

.characters-preloader {
  display: flex;
  gap: 75px;
  width: max-content;
  padding: 25px;

  .card {
    width: 225px;
    height: 350px;
    background-color: $watermark;
  }
}
