@import "src/assets/scss/abstracts/variables";
@import "src/assets/scss/abstracts/mixins";

.profile {
  @include page-spacing;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  gap: 2rem;

  .watermark {
    height: 100%;

    .title {
      writing-mode: vertical-rl;
      font-size: 100px;
      color: $watermark;
    }
  }
}
