@import "../src/assets/scss/abstracts/variables";

@keyframes loading {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}

.watched-anime {
  .title {
    padding-bottom: $padding-1;
    transition: all 0.3s;
  }

  .list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
    max-height: 450px;
    overflow: hidden;

    transition: 0.3s all;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      box-shadow: inset 0px -30px 20px -20px $color-dark-2;
      pointer-events: none;
    }

    &.active {
      max-height: 100%;
    }

    .watched-anime-card {
      position: relative;
      display: grid;
      grid-template-columns: auto repeat(4, 1fr);
      gap: 20px;
      align-items: center;
      padding: $spacing-2;
      background-color: $color-dark-3;
      border-radius: $radius-1;

      .loading {
        position: absolute;
        inset: 50% 50% auto auto;
        translate: -50% -50%;
        animation: loading 1s infinite;
      }

      .image {
        height: 150px;
        border-radius: $radius-1;
      }

      .title {
        font-weight: bold;
      }

      .rating {
        text-align: center;
      }

      .status {
        text-align: center;
      }

      .button {
        position: absolute;
        inset: 0 0 0 auto;
        place-items: center;
        background-color: $color-dark-4;
      }
    }
  }

  .expand-button {
    display: flex;
    justify-content: center;

    .button {
      position: relative;
      width: 40px;
      height: 40px;
      padding: 50px;
      background-color: transparent;
      border: none;
      color: $color-light-1;
      rotate: 90deg;
      transition: all 0.3s;
      cursor: pointer;

      &.active {
        rotate: -90deg;
      }

      .line {
        position: absolute;
        width: 20px;
        height: 2px;
        top: 50%;
        left: 50%;
        transition: 0.3s all;
        box-shadow: 0 0 5px $color-dark-1;
        background-color: $color-light-1;
      }

      .line-1 {
        transform: translate(0, -7px) rotate(45deg);
      }
      .line-2 {
        transform: translate(0, 7px) rotate(-45deg);
      }
      .line-3 {
        width: 15px;
        transform: translate(-7px, -5px) rotate(45deg);
      }
      .line-4 {
        width: 15px;
        transform: translate(-7px, 5px) rotate(-45deg);
      }

      &:hover {
        .line-1 {
          transform: translate(4px, -7px) rotate(45deg);
        }
        .line-2 {
          transform: translate(4px, 7px) rotate(-45deg);
        }
        .line-3 {
          transform: translate(-3px, 0) rotate(0);
        }
        .line-4 {
          transform: translate(-3px, 0) rotate(0);
        }
      }
    }
  }
}
