@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/abstracts/mixins";

.anime-page {
  max-width: 100vw;
  overflow-x: hidden;
  .anime-page__article {
    max-width: 1170px;
    margin: 0 auto;
    padding: 125px 15px;

    .anime-page__watermark {
      position: fixed;
      left: 0;
      font-size: 200px;
      color: rgba($color-light-1, 0.05);
      z-index: -1;
      transform: rotate(15deg);
      pointer-events: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    .anime-page__content {
      display: flex;
      flex-direction: column;
      place-items: center;
      gap: 125px;
      margin-bottom: 50px;

      @include md {
        flex-direction: row;
        place-items: flex-start;
      }

      .anime-page__content-part {
        .anime-page__title {
        }
        .anime-page__text {
        }
      }

      .anime-page__container {
        display: flex;

        .anime-page__image-container {
          position: relative;
          border: 2px solid $color-3;

          .anime-page__image {
            position: relative;
            padding: 10px;
            margin: 0 0 -20px -20px;
          }

          .anime-page__is-watched {
            position: absolute;
            display: flex;
            place-content: center;
            place-items: center;
            inset: auto auto -16px -20px;
            width: 100px;
            height: 100px;
            background-color: $color-2;
            clip-path: polygon(0 0, 100% 100%, 50% 100%, 0 50%);
            font-weight: bold;

            .anime-page__is-watched-text {
              position: absolute;
              rotate: 45deg;
              margin-left: -25px;
              margin-bottom: -25px;
            }
          }
        }
      }
    }
  }
}
