$breakpoints: (
  "sm": 768px,
  "md": 1024px,
  "lg": 1200px,
);

@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin page-spacing {
  max-width: 1170px;
  padding: 125px 15px;
}
