$primary: rgba(20, 20, 20, 1); // 60%
$secondary: rgba(10, 10, 10, 1); // 30%
$red: rgba(150, 20, 20, 1); // 10%
$light: rgba(230, 230, 230, 1);

//old
$color-1: rgba(220, 20, 20, 1);
$color-2: rgba(150, 20, 20, 1);
$color-3: rgba(120, 20, 20, 1);
$color-4: rgba(80, 20, 20, 1);

$color-light-1: rgba(230, 230, 230, 1);

$color-dark-1: rgba(10, 10, 10, 1);
$color-dark-2: rgba(20, 20, 20, 1);
$color-dark-3: rgba(25, 25, 25, 1);
$color-dark-4: rgba(35, 35, 35, 1);

$watermark-color-1: rgba(255, 255, 255, 0.05);

$radius-1: 15px;
$radius-2: 30px;

$padding-1: 25px;
$padding-2: 50px;

$spacing-1: 5px;
$spacing-2: 10px;
$spacing-3: 15px;
$spacing-4: 25px;
$spacing-5: 35px;
