$primary: #141414; // 60%
$secondary: #0a0a0a; // 30%
$red: #961414; // 10%

$light-red: #dc1414;
$light: #e6e6e6;

$error: #fa1414;

$color-3: #781414;
$color-4: #501414;

$color-light-1: #e6e6e6;

$color-dark-3: #191919;
$color-dark-4: #232323;

$watermark-color-1: #ffffff0d;

//old
$radius-1: 1.5rem;
$radius-2: 3rem;

$padding-1: 2.5rem;
$padding-2: 5rem;

$spacing-1: 0.5rem;
$spacing-2: 1rem;
$spacing-3: 1.5rem;
$spacing-4: 2.5rem;
$spacing-5: 3.5rem;
